.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.wh-100 {
  width: 100vw;
  height: 100vh;
}

.h-100 {
  height: 100%;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

@for $i from 1 through 100 {
  .p-#{$i} {
    padding: #{$i}px
  }
  .pt-#{$i}{
    padding-top: #{$i}px;
  }
  .pr-#{$i}{
    padding-right: #{$i}px;
  }
  .pb-#{$i}{
    padding-bottom: #{$i}px;
  }
  .pl-#{$i}{
    padding-left: #{$i}px;
  }
  .m-#{$i} {
    margin: #{$i}px
  }
  .mt-#{$i}{
    margin-top: #{$i}px;
  }
  .mr-#{$i}{
    margin-right: #{$i}px;
  }
  .mb-#{$i}{
    margin-bottom: #{$i}px;
  }
  .ml-#{$i}{
    margin-left: #{$i}px;
  }
}



.arrow-back {
  max-width: 30px;
  cursor: pointer;
  width: 100%;

  &:hover {
    transform: translateX(-5px);
  }
}

.transition {
  transition: $transition;
}

.bg-blur {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffffc2;
    filter: blur(5px);
    z-index: -1;
  }
}

.danger {
  color: $color_red !important;
}
