@mixin block_mixin {
  border-radius: 10px;
  padding: 20px ;
  background: #fff;
}

@mixin list_item_mixin {
  height: 60px;
  width: 100%;
  cursor: pointer;
  border-radius: $BR;
  padding: 10px;
  box-shadow: $box_shadow;
  transition: $transition;

  &:hover {
    box-shadow: $box_shadow_hover;
  }
  .active {
    box-shadow: $box_shadow_hover;
  }
}
