body,
p,
ul,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

p {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

li {
  list-style: none;
}

body {
  ::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b7bdcb;
    border-radius: 10px;
  }
}

h2 {
  font-size: 1.2em;
  text-align: left;
}

svg {
  transition: $transition;
  fill: $color_gray;
  &:hover {
    transition: $transition;

    fill: var(--primary-color);
  }
}

.empty {
  @include block_mixin;
  width: 100%;
  height: 100%;
}
